
body, html {
  height: 100%;
  background-color: white;
  line-height: 1.8;
}


h1 {
  font-weight: 900;
  font-size: 60px;
  color: #F46036;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -2px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #F7B267;
  padding: 0px;
}

h3 {
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.subtitle h2{
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.title h1{
  text-align: center;
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  color: #CDCDCD;
}

a:hover{
  color: #F7B267;
  font-size: 24px;
  transition: .2s;
}


h3 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  left: 10px;
  color: #F7B267;
  position: left;
  top: 13%;
  width: 50%;
  position: absolute; transform: translate(400px, 100px);
}

h4 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  left: 10px;
  color: #F7B267;
  position: left;
  top: 13%;
  width: 50%;
  top: 90px;
  position: relative;
}


.activities {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

button {
  width: 200px;
  height: 100px;
  font-size: 20px;
  text-align: center;
  padding: 30px;
  letter-spacing: 3px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.activities button{
  text-decoration: none;
  border: none;
  text-align: center;
}
.activities button:active{
  text-decoration: none;
  border: none;
}
.activities button:link{
  text-decoration: none;
  border: none;
}
.activities button:hover{
  text-decoration: none;
  border: none;
  font-weight: 300;
  color: #F46036;
  transition: .1s;
}
.activities button:visited{
  text-decoration: none;
  border: none;
}


booking-button {
  width: 100px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  letter-spacing: 3px;
  background-color: #EEF0F2;
  border: none;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  position: absolute; transform: translate(125px, -200 px);

}


.navigate .back{
  position: absolute;
  bottom: 0;
  left: 0;
}
.navigate .next{
  position: absolute;
  bottom: 0;
  right: 0;
}
.confirm{
  text-align: center;
  margin-top: 15px;
}

.confirm button{
  color: black;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
  line-height: 110%;
  font-weight: 600;
  font-size: 31px;
}

.confirm button:hover {
  color: #F7B267;
  font-size: 40px;
  transition: .2s;
  letter-spacing: 2px;
  line-height: 110%;
}

.navigate button{
  color: #CDCDCD;
}
.navigate button:hover {
  color: #F46036;
  font-size: 24px;
  transition: .2s;
}


a.book {
  color: #F7B267;
  text-align: center;
  vertical-align: center;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  padding: 100px;
}

a.book:hover {
  color: #F7B267;
  font-size: 34px;
  transition: .2s;
}

.event-art img {
  width: 250px;
  height: 250px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Book {
  margin-top: 15px;
  text-align: center;
}

.Book a{
  font-weight: 900;
  font-size: 31px;
  color: black;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.descrip p{
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.alternative-events{
  display:grid;
  grid-template-columns: auto auto;
  position: relative;
  width: 1000px;
  height: 250px;
}
.alternative-events-tile{
  width: 500px;
  height: 250px;
}

.alternative-events-image{
  display: block;
  position: relative;
  width: 250px;
  height: 200px;
  left: 0px;
  top:75px;
}
h5{
  color: #F7B267;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  position:relative;
  top:55px;


}

.tile_table{
  border-collapse:collapse;
  text-align: center;
}

.tile_table p {
  position: fixed;
  top: 35%;
  text-align: center;
  color: #F7B267;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
}

.tile_table tr{
  width: 100%;
  text-align: center;
}

.tile_image{
  padding: 3px 5px 0px 3px;
  margin: 5px 5px 0px 5px;
}

.tile_p p{
  line-height: 0px;
  text-align: center;
}


h4{
  color: #F7B267;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
}

.booking{
  text-align: center;
  width: 100%;
  color: #F7B267;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  margin-top: 15px;
}
.bookingtile{
  padding: 15px;
  font-size: 25px;
  color: black;
}

table.tile_table img{
  max-height: 500px;
  max-width: 37%;
  position: relative;
  top: 150px;
}

table.tile_table p{
  text-align: center;
}

.far {

    font-weight: 400;
    float: right;
    font-size: -webkit-xxx-large;
    position: relative;
    margin-right: 1%;
}

.booked_event{

text-align: center;
  width: 100%;
  color: #000000;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  margin-top: 15px;
  font-size: 47px;

}
