
body, html {
  height: 100%;
  background-color: white;
  line-height: 1.8;
}

/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }


h1 {
  font-weight: 900;
  font-size: 60px;
  color: #F46036;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -2px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #F7B267;
  padding: 0px;
}

h3 {
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.subtitle h2{
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.title h1{
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.title {
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: #CDCDCD;
}


a:hover{
  color: #F7B267;
  font-size: 24px;
  transition: .2s;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  left: 10px;
  color: #F7B267;
  position: left;
  top: 13%;
  width: 50%;
  top: 90px;
  position: relative;
}


.activities {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
}

button {
  width: 200px;
  height: 100px;
  font-size: 20px;
  text-align: center;
  padding: 30px;
  letter-spacing: 3px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: black;
}

.activities button{
  text-decoration: none;
  border: none;
  text-align: center;
}
.activities button:active{
  text-decoration: none;
  border: none;
}
.activities button:link{
  text-decoration: none;
  border: none;
}
.activities button:hover{
  text-decoration: none;
  border: none;
  font-weight: 300;
  color: #F46036;
  transition: .1s;
}
.activities button:visited{
  text-decoration: none;
  border: none;
}


booking-button {
  width: 100px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  letter-spacing: 3px;
  background-color: #EEF0F2;
  border: none;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  position: absolute; transform: translate(125px, -200 px);

}


.navigate .back{
  position: absolute;
  bottom: 0;
  left: 0;
}
.navigate .next{
  position: absolute;
  bottom: 0;
  right: 0;
}
.confirm{
  text-align: center;
  margin-top: 15px;
}

.confirm button{
  color: black;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
  line-height: 110%;
  font-weight: 600;
  font-size: 31px;
}

.confirm button:hover {
  color: #F7B267;
  font-size: 40px;
  transition: .2s;
  letter-spacing: 2px;
  line-height: 110%;
}

.navigate button{
  color: #CDCDCD;
}
.navigate button:hover {
  color: #F46036;
  font-size: 24px;
  transition: .2s;
}


a.book {
  color: #F7B267;
  text-align: center;
  vertical-align: center;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  padding: 100px;
}

a.book:hover {
  color: #F7B267;
  font-size: 34px;
  transition: .2s;
}

.event-art img {
  width: 250px;
  height: 250px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Book {
  margin-top: 15px;
  text-align: center;
}

.Book a{
  font-weight: 900;
  font-size: 31px;
  color: black;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.descrip p{
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.alternative-events{
  display:grid;
  grid-template-columns: auto auto;
  position: relative;
  width: 1000px;
  height: 250px;
}
.alternative-events-tile{
  width: 500px;
  height: 250px;
}

.alternative-events-image{
  display: block;
  position: relative;
  width: 250px;
  height: 200px;
  left: 0px;
  top:75px;
}


.tile_table{
  border-collapse:collapse;
  text-align: center;
}

.tile_table p {
  border: 1px solid black;
  position: fixed;
  top: 35%;
  width: 100%;
  column-width: 100px;
  text-align: center;
  color: #F7B267;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  padding: 30px;
}


.tile_table tr{
  width: 100%;
  text-align: center;
  padding: 20px;
}


.tile_image.img{
  padding: 100px;
}

.tile_p p{
  line-height: 0px;
  text-align: center;
}


.event{

  width: 31%;
  font-family: 'Quicksand', sans-serif;
  color: #F7B267;
  display: inline-block;
  text-align: center;

}
.event-with-border{

  width: 31%;
  font-family: 'Quicksand', sans-serif;
  color: #F7B267;
  display: inline-block;
  text-align: center;
  border: 2px dashed #F7B267;

}



.tile_image {
    padding: 15px 5px 0px 3px;
    width: 85%;
    height: 200px;
    margin: 5px 5px 0px 5px;
}

button.book{
  border: 2px solid black;
  font-family: 'Quicksand', sans-serif;
  color: #F7B267;
  margin: 15px;

}


h4{
  color: #F7B267;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
}

.booking{
  text-align: center;
  border-radius: 25px;
  padding: 40px;
  padding-top: 5px;
  padding-bottom: 15px;
  background: linear-gradient(to bottom left, #ff9900 0%, #ff3300 100%);
  width: 400px;
  color: white;
  height: 300px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .2px;
  margin-top: 15px;
  position: absolute;
  left: 50%;
  margin-left: -220px;
}
.booknow{
  text-align: center;
  border-radius: 25px;
  padding: 40px;
  padding-top: 5px;
  padding-bottom: 15px;
  background: linear-gradient(to bottom left, #ff9900 0%, #ff3300 100%);
  width: 400px;
  color: white;
  height: 320px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .2px;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  margin-left: -220px;
}
.booknow h2{
  color: black;
  font-size: 16px;
}
.booknow .sign_in h3{
  text-align: center;
  color: black;
  font-weight: 300;
  margin-top: 15px;
  border-radius: 25px;
  width: 185px;
  border: 1px solid black;
}
.booking h2{
  color: black;
}
.booking h3{
  text-align: center;
  color: black;
  font-weight: 300;
  margin-top: 15px;
  font-size: 15px;
}
.booking h5{
  color: #F7B267;
  font-weight: 300;
  margin: 0 auto;
}

.booking .sign_in h3{
  text-align: center;
  color: black;
  font-weight: 300;
  border-radius: 25px;
  width: 185px;
  border: 1px solid black;
}
.booking input {
  width: 300px;
  height: 20px;
  padding: 10px;
}
.booknow input{
  margin: 10px;
  width: 300px;
  height: 30px;
}
.bookingtile{
  padding: 15px;
  font-size: 25px;
  color: black;
}

table.tile_table img{
  max-height: 500px;
  max-width: 37%;
  position: relative;
  top: 150px;
}

table.tile_table p{
  text-align: center;
}

.far {
    font-weight: 400;
    float: right;
    font-size: -webkit-xxx-large;
    position: relative;
    margin-right: 1%;
}
.side {
   display:inline-block;
}
.booked_event{
  text-align: center;
  width: 100%;
  color: #000000;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2px;
  margin-top: 15px;
  font-size: 47px;
  display: inline-block;
}
.booked_event .cancel {
  width: 20px;
  position: absolute;
}
.booked_event .event {
  width: 40px;
  position: absolute;
}
.booked_event h3{
  font-size: 20px;
  font-weight: 300;
}
table{
  width: 50%;
  font-family: 'Poppins', sans-serif;
  color: black;
  text-align: center;
  margin-left: 25%;
  align: center;
  margin-top: 15px;
}
table td{
  width: 150px;
}

.tabletitle {
  text-align: center;
  margin-top: 15px;
}
.tabletitle h2{
  color: black;
  font-size: 20px;
}



button.cancelbutton {
  text-decoration: none;
  padding: 0px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}
.settings{
  width: 100%;
  text-align: center;
}
.settings i{
  margin-right: 25%;
}
.pic{
  text-align: center;
  width: 100%;
}

.pic i{
  font-size: 200px;
  padding: 0px;
  margin: 0 auto;
}
